name: Build App

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
    types:
      - closed     # PR must be closed (merged or rejected)

jobs:
  build:
    # Only run build if push to main OR PR merged
    if: >
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' &&
       github.event.pull_request.merged == true)

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Zip project
      run: zip -r build.zip . -x "*.git*"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: student-data-build
        path: build.zip
